<p>list-render works!</p>
<div class="class">
  <p *ngFor="let dado of dados">{{dado}}</p>
  <p>{{dadosObj.nome}}</p>
  <ul>
    <li *ngFor="let animal of animals">
      Animal: {{animal.name |uppercase}}
      Type: {{animal.type}}
      <button (click)="removeAnimal(animal)">Remover animal</button>
      <button (click)="adicionarD()">Adicionar dado</button>
    </li>
  </ul>
  <div class="class">
    <p style="color: red; font-size: 18px;" >{{"pipe operator |" | uppercase}}</p>
    <p>{{"TEXTO MAIUSCULO INDO PARA MINUSCULO COM PIPE" | lowercase}}</p>
    <p>{{testandoOpipeOperator | lowercase}}</p>
    <p>{{testandoOpipeOperator | lowercase}}</p>
    <!-- simbolo de dinheiro -->
    <p>{{ 12345.67 | currency }}</p>
    <p>{{hoje | date }}</p>
    <div class="class">
        <p>Calcula a porcentagem apenas com o operador percent</p>
        <p>{{ 0.1234 | percent }}</p>
    </div>
    <p>{{animals}}</p>
  </div>

</div>
